div {
  width: 100%;
  height: 500px;
}

.div-1 {
  background-color: blue;
  align-self: center;
  height: 60px;
  width: 60px;
  margin: auto;
  display: block;
}

.div-2 {
  background-color: red;
  align-self: center;
  height: 100px;
  width: 100px;
  margin: auto;
  display: block;
}

.div-3 {
  background-color: yellow;
  align-content: center;
  height: 200px;
  width: 200px;
  margin: auto;
  display: block;
}

button {
  background-color: coral;
  color: black;
  padding: 15px 32px;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  font-family: "Oxygen", sans-serif;
  letter-spacing: 1px;
  margin: auto;
  display: block;
}